In [7]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('iwRegisteredCompanies.db')

In [15]:
df1 = pd.read_csv("iwRegisteredCompanies.csv")
df1.to_sql('iwRegisteredCompanies', conn, if_exists='replace', index=False)
df2 = pd.read_csv("sic_codes.csv")
df2.to_sql('sic_codes', conn, if_exists='replace', index=False)

df_exploded = df1.assign(sic_code=df1['nature_of_business'].str.split()).explode('sic_code')
df_exploded['sic_code'] = df_exploded['sic_code'].astype('Int64')
df_exploded[['company_number', 'sic_code']].to_sql('nature_of_business', conn, if_exists='replace', index=False)

4901

In [37]:
# Via https://www.ons.gov.uk/aboutus/transparencyandgovernance/freedomofinformationfoi/siccodesandgroupingnames

sic_hierarchy_df =pd.read_csv("publisheduksicsummaryofstructureworksheet.csv")
for c in ["SECTION","Division","Group"]:
    sic_hierarchy_df[c] = sic_hierarchy_df.apply(lambda row: row["Description"] if row["Level headings"] == c else None, axis=1)
    sic_hierarchy_df[c] = sic_hierarchy_df[c].ffill()
sic_hierarchy_df = sic_hierarchy_df[sic_hierarchy_df["Level headings"]=="Class"]
sic_hierarchy_df.dropna(how="all", inplace=True, axis=1)
sic_hierarchy_df.rename(columns={"SECTION":"Section","Most disaggregated level":"sic_code"}, inplace=True)
cols = ["sic_code", "Class", "Section", "Division", "Group", "Description"]
sic_hierarchy_df[cols].to_sql('sic_code_hierarchy', conn, if_exists='replace', index=False)
sic_hierarchy_df

,Description,Section,Division,Group,Class,Sub Class,sic_code,Level headings
3,"Growing of cereals (except rice), leguminous c...","AGRICULTURE, FORESTRY AND FISHING","Crop and animal production, hunting and relate...",Growing of non-perennial crops,0111,na,01110,Class
4,Growing of rice,"AGRICULTURE, FORESTRY AND FISHING","Crop and animal production, hunting and relate...",Growing of non-perennial crops,0112,na,01120,Class
5,"Growing of vegetables and melons, roots and tu...","AGRICULTURE, FORESTRY AND FISHING","Crop and animal production, hunting and relate...",Growing of non-perennial crops,0113,na,01130,Class
6,Growing of sugar cane,"AGRICULTURE, FORESTRY AND FISHING","Crop and animal production, hunting and relate...",Growing of non-perennial crops,0114,na,01140,Class
7,Growing of tobacco,"AGRICULTURE, FORESTRY AND FISHING","Crop and animal production, hunting and relate...",Growing of non-perennial crops,0115,na,01150,Class
...,...,...,...,...,...,...,...,...
1173,Other personal service activities nec,OTHER SERVICE ACTIVITIES,Other personal service activities,Other personal service activities,9609,na,96090,Class
1177,Activities of households as employers of domes...,ACTIVITIES OF HOUSEHOLDS AS EMPLOYERS; UNDIFFE...,Activities of households as employers of domes...,Activities of households as employers of domes...,9700,na,97000,Class
1180,Undifferentiated goods-producing activities of...,ACTIVITIES OF HOUSEHOLDS AS EMPLOYERS; UNDIFFE...,Undifferentiated goods- and services-producing...,Undifferentiated goods-producing activities of...,9810,na,98100,Class
1182,Undifferentiated service-producing activities ...,ACTIVITIES OF HOUSEHOLDS AS EMPLOYERS; UNDIFFE...,Undifferentiated goods- and services-producing...,Undifferentiated service-producing activities ...,9820,na,98200,Class
1186,Activities of extraterritorial organisations a...,ACTIVITIES OF EXTRATERRITORIAL ORGANISATIONS A...,Activities of extraterritorial organisations a...,Activities of extraterritorial organisations a...,9900,na,99000,Class